<div class="home">
  <div id="service">
    <br>
    <h1 style="padding-left: 5vh;">Mes services</h1>
    <br>
    <div class="services">
      <div class="service-card">
        <h3>Site <br>vitrine<br>& Blog</h3>
      </div>
      <div class="service-card">
        <h3>Conception de <br>site web <br>sur-mesure</h3>
      </div>
      <div class="service-card">
        <h3>Site <br>e-commerce</h3>
      </div>
      <div class="service-card">
        <h3>Rédaction de <br>CGV-CGU</h3>
      </div>
      <div class="service-card">
        <h3>Référencement</h3>
      </div>
    </div>
  </div>

  <div id="portfolio">
    <br>
    <h1 style="padding-left: 5vh;">Mon Portfolio</h1>
    <br>
    <br>
    <br>
    <div class="blueform">
      <div id="js-scroll-mockup" class="mockup">
        <img src="../assets/gom.png" alt="">
      </div>
      <div id="js-scroll" class="greyform">
        <h1 style="color:white;">GOM</h1>
        <h2 style="color:white;">Site pour organiser des sessions de sport outdoor.</h2><br>
        <h2 style="color:white;">Projet d'école réalisé en langage Ruby on Rails.</h2>
        <a class="btn" href="https://thegom.herokuapp.com/">Visitez ce site</a>
      </div>
    </div>
    <div class="yellowform">
      <div id="js-scroll-mockupbis" class="mockup2">
        <img src="../assets/gamblin.png" alt="">
      </div>
      <div id="js-scroll-bis" class="greyform">
        <h1 style="color:white;">Cabinet Gamblin</h1>
        <h2 style="color:white;">site vitrine</h2>
        <h2 style="color:white;">avec une fonction pour la création de contenu.</h2>
        <a class="btn" href="https://www.gamblin-avocat.com//" target="_blank">Visitez ce site</a>
      </div>
    </div>
    <div class="redform">
      <div id="js-scroll-mockupter" class="mockup">
        <img src="../assets/graine.png" alt="">
      </div>
      <div id="js-scroll-ter" class="greyform">
        <h1 style="color:white;">Graîne de Mômes</h1>
        <h2 style="color:white;">Site e-commerce réalisé avec Shopify</h2><br>
        <h2 style="color:white;">Intégration de stock et de visuels.</h2>
        <a class="btn" href="https://www.grainedemomes.com/" target="_blank">Visitez ce site</a>
      </div>
    </div>
    <div class="brownform">
      <div id="js-scroll-mockupfour" class="mockup2">
        <img src="../assets/atelier.png" alt="">
      </div>
      <div id="js-scroll-four" class="greyform">
        <h1 style="color:white;">Atelier Menuiserie</h1>
        <h2 style="color:white;">Projet de site vitrine</h2>
        <h2 style="color:white;">afin de mettre en avant les réalisations d'un artisan.</h2><br>
        <h2 style="color:white;">création de chantier et recherche dynamique par catégorie.</h2>
        <a class="btn" href="https://atelier-lb.herokuapp.com/" target="_blank">Visitez ce site</a>
      </div>
    </div>
  <!--       <h2>Great Outdoor Map</h2>
        <h5>The Great Outdoors Map is a web application designed for outdoor activities lovers. It is an interactive map where you can easily see what outdoor sport session people are doing in your region and join them.</h5>
        <a href="https://thegom.herokuapp.com/">Visitez ce site</a> -->
        <!-- <h2>BD Troc</h2>
        <h5>BD Troc is a web application for exchanging comic book between people. It uses a token system : if you lend a comic book 3 days, you can borrow one for someone during 3 days.</h5>
        <a href="https://bdtroc.herokuapp.com/">Visitez ce site</a> -->

        <!-- <h2>Atelier LB</h2>
        <h5>Atelier LB est un site vitrine afin d'exposer le savoir faire d'un menuisier, découvrir les récents projets réalisés et prendre contacte avec l'artisan pour un devis.</h5>
        <a href="https://atelier-lb.herokuapp.com/" target="_blank">Visitez ce site</a> -->

        <!-- <h2>Graîne de Mômes</h2>
        <h5>Réalisation d'une boutique de vêtements en ligne avec la possibilité d'offrir une carte cadeau.</h5>
        <a href="https://www.grainedemomes-shop.com/" target="_blank">Visitez ce site</a> -->

  <!--       <h2>Cabinet Thibault Gamblin</h2>
        <h5>Réalisation d'un site vitrine pour le cabinet de Maître Thibault Gamblin, avocat à la cour de Cherbourg.</h5>
        <a href="https://cabinetgamblin.herokuapp.com/" target="_blank">Visitez ce site</a> -->

  <!--       <h2>Samedi 28</h2>
        <h5>Boutique de décoration pour organiser la vente en ligne d'objets et de meubles, création d'évènements au magasin et inscription en ligne.</h5>
        <a href="https://samedi28.herokuapp.com/" target="_blank">Visitez ce site</a> -->
<!--         <p id="project">Projet en cours</p> -->
  </div>

  <div id="skills">
    <br>
    <br>
    <h1 style="padding-left: 5vh;">Domaines d'intervention</h1>
    <br>
    <br>
    <div class="skills">
      <div class="skill">
        <img src="../assets/rails.png" alt="">
        <h2>Ruby on rails</h2>
      </div>
      <div class="skill">
        <img src="../assets/js.jpeg" alt="">
        <h2>JavaScript</h2>
      </div>
      <div class="skill">
        <img src="../assets/html.jpg" alt="">
        <h2>HTML</h2>
      </div>
      <div class="skill">
        <img src="../assets/css.svg" alt="">
        <h2>CSS</h2>
      </div>
      <div class="skill">
        <img src="../assets/figma.png" alt="">
        <h2>Figma</h2>
      </div>
    </div>
    <div class="skills">
      <div class="skill">
        <img src="../assets/stripe.png" alt="">
        <h2>Stripe</h2>
      </div>
      <div class="skill">
        <img src="../assets/heroku.svg" alt="">
        <h2>Heroku</h2>
      </div>
      <div class="skill">
        <img src="../assets/github.png" alt="">
        <h2>GitHub</h2>
      </div>
      <div class="skill">
        <img src="../assets/excel.png" alt="">
        <h2>Excel</h2>
      </div>
      <div class="skill">
        <img src="../assets/vba.png" alt="">
        <h2>VBA</h2>
      </div>
    </div>
  </div>

  <div id="carouselExampleInterval" class="carousel slide" data-ride="carousel">
    <div class="carousel-inner" style="height: 60vh;">
      <div class="carousel-item active bg-carousel"data-interval="5000">
        <h3>roijnzeroginzerignezrigzerugerugheurgh</h3>
        <h2>Marine BOIZET</h2>
<!--         <img src="../assets/testimonial1.jpg" class="d-block w-100" alt="..."> -->
      </div>
      <div class="carousel-item bg-carousel" data-interval="5000">
        <img src="../assets/gom.png" class="d-block w-100" alt="...">
      </div>
      <div class="carousel-item bg-carousel" data-interval="5000">
        <img src="../assets/gamblin.png" class="d-block w-100" alt="...">
      </div>
    </div>
    <a class="carousel-control-prev" href="#carouselExampleInterval" role="button" data-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#carouselExampleInterval" role="button" data-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
  </div>

  <div id="contact">
    <br>
    <br>
    <br>
    <h3 style="padding-left: 32px; margin-top: 10vh;">Je reste à l'écoute de vos projets. </h3>
    <br>
    <h3 style="padding-left: 32px;">Vous pouvez me contacter via ce formulaire :</h3>
    <div style="display:flex; justify-content: center;">
      <div class="form-container">
         <% new_contact = Contact.new %>
         <%= simple_form_for(new_contact) do |f| %>
           <div class="form-top">
             <%= f.input :name, label: 'votre nom', placeholder: "Prénom Nom" %>
             <%= f.input :phone, label: 'votre n° de téléphone', placeholder: "01 02 03 04 05" %>
             <%= f.input :email, label: 'votre adresse e-mail', placeholder: "prenom.nom@mail.fr" %>
             <%= f.input :message, label: 'Décrivez-moi votre projet', as: :text, placeholder: "Site e-commerce, site vitrine pour votre activité ..." %>
            </div>
            <%= f.submit "envoyez", class: 'btn'%>
         <% end %>
      </div>
    </div>
    <br>
    <br>
    <br>
  </div>
</div>
