<h1>Une nouvelle demande depuis le site EmRose</h1>

<p><b>From: </b><%= @contact.name %></p>
<p><b>Email: </b> <%= @contact.email %></p>
<p><b>Address: </b> <%= @contact.address %></p>
<p><b>Phone: </b> <%= @contact.phone %></p><br>
<p><b>Message: </b> <%= @contact.message %></p>

<p>A toi de jouer !</p>
